.calc-con {
  display: block;
  background-color: #fff;
  width: calc(21cm - 7cm);
  padding: 4cm 3.5cm;
  box-sizing: content-box;
}

.paper-view-header {
  height: 40px;
  border-bottom: 1px solid #aaa;
  display: flex;
  align-items: center;
  padding: 0 10px;
  box-sizing: border-box;
}

.paper-view-header button {
  border-radius: 2px;
  padding: 4px 15px;
  border: 1px solid;
}
.paper-view-header button.hidden-btn {
  display: none;
}
.paper-view-header button+button {
  margin-left: 10px;
}
.paper-view-header button.info-btn {
  background-color: #efefef;
  border-color: #ccc;
  color: #333;
}
.paper-view-header button.info-btn:active {
  background: #fff;
}
.paper-view-header button.primary-btn {
  background-color: #337ab7;
  border-color: #337ab7;
  color: #fff;
}
.paper-view-header button.primary-btn:active {
  background: #4389c6;
}
.paper-view-header button.warning-btn {
  background-color: #E6A23C;
  border-color: #E6A23C;
  color: #fff;
}
.paper-view-header button.warning-btn:active {
  background: #f0ac45;
}
.paper-view-header button.success-btn {
  background-color: #529b2e;
  border-color: #529b2e;
  color: #fff;
}
.paper-view-header button.success-btn:active {
  background: #5eb333;
}

.render-con {
  display: flex;
  justify-content: space-around;
  background-color: #eee;
  height: calc(100% - 40px);
}

.render-con>.origin-con {
  width: 50%;
  height: 100%;
  overflow: auto;
}

.render-con>.origin-con>.calc-con {
  /* margin: 0 auto; */
  outline: none;
  margin-bottom: 16px;
}

.render-con>.pdf-con {
  background-color: #999;
  width: 50%;
  margin: 0 auto;
}

#paperViewRender {
  width: 100%;
  height: 100%;
  border: none;
}

/* 工具栏样式 */
.tox-editor-header {
  left: calc(50% - 65px) !important;
  top: calc(50% - 60px) !important;
  bottom: auto !important;
  position: fixed !important;
}

.tox-toolbar__group {
  flex-direction: column;
}

img, video {
  height: auto;
  max-width: 100%;
}

/* 排版右侧的svg试卷 */
.svg-con {
  display: block !important;
  position: absolute;
  z-index: 9;
  width: 50%;
  height: calc(100vh - 40px);
  right: 0;
  overflow: auto;
  text-align: right;
}
.svg-con svg {
  margin-bottom: 8px;
  background-color: #fff;
}
table, table * {
  box-sizing: border-box;
}
table caption,
figcaption {
  color: #000 !important;
}