.model-con {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(50, 50, 50, 0.9);
  display: block;
  font-size: 100px;
  text-align: center;
  line-height: 100vh;
  color: white;
  z-index: 10;
}

/* 试卷预览统一基础样式 */
html,
body,
body p,
body ol,
body ul,
body li,
body dl,
body dt,
body dd,
body blockquote,
body figure,
body fieldset,
body legend,
body textarea,
body pre,
body iframe,
body hr,
body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body input {
  margin: 0;
  padding: 0;
  font-family: Times New Roman, simsun;
  font-size: 14pt;
  color: #000;
}

html,
body {
  height: 100%;
}
* {
  line-height: 1.5;
}
.block-item {
  font-size: 14pt;
  font-family: Times New Roman, simsun;
}
.font-size-4 {
  font-size: 14pt;
}
.font-size-2x {
  font-size: 18pt;
}
.center-align {
  text-align: center;
}
.font-family-simhei {
  font-family: Times New Roman, simhei;
}
.font-family-simsun {
  font-family: Times New Roman, simsun;
}
.font-weight {
  font-weight: 600;
}
.text-indent-2em {
  text-indent: 2em;
}
.justify-align {
  text-align: justify;
}

.item-con p {
  text-align: justify !important;
}
/* #tempOptionCon *,
.item-con,
.item-con * {
  font-size: 14pt !important;
} */
.dot-con {
  width: 0.5em !important;
}

/* 新加 */
.item-con table * {
  line-height: 18pt;
}

.item-con > .stem-con {
  display: flex;
  align-items: baseline;
}

/* 表格的 align-items 特殊，需要特殊处理 新加 */
.item-con > .stem-con.tbl-first-con {
  align-items: flex-start;
}

.item-con > .stem-con > div:last-of-type {
  flex: 1;
}

.item-con img {
  vertical-align: middle;
  line-height: 1.5;
}
.item-con img.img-vertical-top {
  vertical-align: top !important;
}
img.img-vertical-middle {
  vertical-align: middle !important;
}
.item-con img[data-formula-image],
.item-con img.img-vertical-baseline,
.item-con img.Wirisformula {
  vertical-align: baseline;
}
.item-con img.img-vertical-bottom {
  vertical-align: bottom !important;
}
.item-con img.img-vertical-textTop {
  vertical-align: text-top !important;
}

/* 新加 子题题号连续（不带括号） 则和题型用语对齐 */
.item-con.child-item-con.series-child-item-con {
  margin-left: 0;
}

.options-con {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
  flex: 1;
}

.option-con {
  display: flex;
  align-items: baseline;
}

.option-con > div:last-of-type {
  flex: 1;
}

.options-con.spl-1 > .option-con {
  width: 100%;
}

.options-con.spl-2 > .option-con {
  width: 50%;
}

.options-con.spl-4 > .option-con {
  width: 25%;
}

.has-option-num.options-con.spl-1 > .option-con {
  width: 100%;
}

.has-option-num.options-con.spl-2 > .option-con {
  width: 50%;
}

.has-option-num.options-con.spl-4 > .option-con {
  width: 25%;
}

.option-num-con {
  width: 1.5em;
  text-align: right;
  margin-right: 0.5em;
}

.mce-emphatic {
  position: relative;
  display: inline-block;
  text-indent: 0;
}

.mce-emphatic:before {
  content: '.';
  position: absolute;
  bottom: -5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  font-family: initial;
  text-indent: 0 !important;
  font-size: 20px;
}

.calc-con {
  display: block;
}

.page-num-simple {
  font-size: 14pt !important;
  font-family: Times New Roman, simsun;
}

/* input.blank {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #000;
  text-align: center;
  padding: 0 6px;
  line-height: 0;
  vertical-align: text-bottom !important;
  width: 48px !important;
  box-sizing: content-box;
} */
.fillBlankBlock input,
.blank input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #000;
  width: 48px !important;
  height: 22px;
  text-align: center;
}

/* 题干没有内容 */
.parent-papernum-of-childitem {
  display: inline-block;
  width: 2em;
  text-indent: 0;
}

.parent-papernum-of-childitem > span {
  display: inline-block;
  width: 1em;
  text-indent: 0;
}

.papernumofchilditem {
  text-indent: -2em;
}

.item-con sup,
.item-con sup *,
.item-con sub,
.item-con sub * {
  font-size: smaller !important;
  line-height: 1;
}
/* tinymce 中content.css */
figure {
  display: table;
  margin: 0 auto !important;
}

figure figcaption {
  color: #333;
  display: block;
  margin-top: 0rem;
  text-align: center;
}
table:not([cellpadding]) td,
table:not([cellpadding]) th {
  padding: 0 6px !important;
}

.nop-page > .nop-page-content table {
  word-break: normal;
}

#svgCon table:not([cellpadding]) td,
#svgCon table:not([cellpadding]) th {
  padding: 0 6px !important;
}
#svgCon foreignObject {
  overflow: visible;
}

@media print {
  body svg {
    margin: 0;
  }
}

/*  填空题样式 开始 */
.mceNonEditable.blank,
.com-item-fontfamily {
  border: none;
  margin: 0;
  span {
    display: inline-block;
  }
  span,
  input {
    border: none;
    background-color: transparent;
    &.blank_1 {
      border-bottom: 0.2mm solid #000;
      text-align: center;
      width: 13mm;
    }
    &.blank_2 {
      text-align: center;
      width: 20mm;
    }
  }
}
/*  填空题样式 结束 */

/* 全局样式 开始 */
.mceNonEditable.block-item {
  padding-top: 0mm;
  line-height: 1.5;
}
/* 全局样式 结束 */

/* 抬头写死结构样式 开始 */

.top-con {
  margin-bottom: 7mm;
}

/* 抬头写死结构样式 结束 */

/* 大题结构样式 开始 */

.item-con.block-item {
  padding-top: 3mm;
}
.structContent.block-item.mceNonEditable {
  padding-top: 7mm;
}

/* 大题结构样式 结束 */

/* 小题结构样式 开始 */
.block-item.child-item-con {
  padding-top: 1mm;
  margin-left: 0.5em;
}

.stem-prev-con {
  margin-right: 0.5em;
  white-space: nowrap;
  text-align: right;
  min-width: 0;
}

.item-con > .options-con {
  padding-left: 1em;
}

/* 完形填空 行 */
.option-group-item {
  display: flex;
  margin-left: 0.5em;
  padding-top: 0.2em;
}

/* 小题题号样式 结束 */
