.calc-con,
.model-con {
  display: block
}

.model-con {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(50, 50, 50, .9);
  font-size: 100px;
  text-align: center;
  line-height: 100vh;
  color: #fff;
  z-index: 10
}

body,
body blockquote,
body dd,
body dl,
body dt,
body fieldset,
body figure,
body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body hr,
body iframe,
body legend,
body li,
body ol,
body p,
body pre,
body textarea,
body ul,
html {
  margin: 0;
  padding: 0;
  font-family: Times New Roman, simsun
}

.paper-view-header button {
  border-radius: 2px;
  padding: 4px 15px;
  border: 1px solid
}

.paper-view-header button.hidden-btn {
  display: none
}

.paper-view-header button+button {
  margin-left: 10px
}

.item-con.child-item-con,
.structure-con {
  margin-left: 2em
}

.paper-view-header button.info-btn {
  background-color: #efefef;
  border-color: #ccc;
  color: #333
}

.paper-view-header button.info-btn:active {
  background: #fff
}

.paper-view-header button.primary-btn {
  background-color: #337ab7;
  border-color: #337ab7;
  color: #fff
}

.paper-view-header button.primary-btn:active {
  background: #4389c6
}

.paper-view-header button.warning-btn {
  background-color: #E6A23C;
  border-color: #E6A23C;
  color: #fff
}

.paper-view-header button.warning-btn:active {
  background: #f0ac45
}

.paper-view-header button.success-btn {
  background-color: #529b2e;
  border-color: #529b2e;
  color: #fff
}

.paper-view-header button.success-btn:active {
  background: #5eb333
}

body,
html {
  height: 100%
}

.pt-9 {
  line-height: 9pt
}

.pt-12 {
  line-height: 12pt
}

.paper-info {
  font-size: 10.5pt;
  font-family: Times New Roman, SimHei
}

* {
  line-height: 1.5
}

.gradeCon,
.paperName,
.subjectCon {
  line-height: 36pt;
  text-align: center;
  font-family: Times New Roman, simsun
}

.paperName {
  font-size: 16pt
}

.gradeCon {
  font-size: 22pt;
  font-weight: 600 !important
}

.subjectCon {
  font-size: 14pt
}

.specialTextCon {
  text-align: center
}

.specialTextCon,
.specialTextCon * {
  font-size: 12pt;
  font-family: 仿宋
}

.noticeTips>p {
  font-size: 10.5pt;
  font-family: Times New Roman, SimHei
}

.part-con,
.part-con * {
  line-height: 36pt !important;
  font-size: 16pt !important;
  text-align: center;
  font-family: Times New Roman, SimHei
}

.structure-con {
  text-indent: -2em
}

.structure-con,
.structure-con * {
  font-size: 10.5pt !important;
  font-family: Times New Roman, SimHei !important
}

#tempOptionCon *,
.item-con,
.item-con * {
  font-size: 10.5pt !important;
  line-height: 18pt
}

.item-con table * {
  line-height: 18pt
}

.item-con>.stem-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline
}

.item-con>.stem-con.tbl-first-con {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start
}

.item-con>.stem-con>div:last-of-type {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1
}

.stem-prev-con {
  white-space: nowrap
}

.stem-prev-con>span {
  display: inline-block;
  width: 1em;
  text-align: right
}

.stem-prev-con>span:last-of-type {
  text-align: left
}

.item-con img {
  vertical-align: middle;
  line-height: 1.5
}

.item-con img.img-vertical-top {
  vertical-align: top !important
}

img.img-vertical-middle {
  vertical-align: middle !important
}

.item-con img.Wirisformula,
.item-con img.img-vertical-baseline,
.item-con img[data-formula-image] {
  vertical-align: baseline
}

.item-con img.img-vertical-bottom {
  vertical-align: bottom !important
}

.item-con img.img-vertical-textTop {
  vertical-align: text-top !important
}

.item-con.child-item-con.series-child-item-con {
  margin-left: 0
}

.options-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: 2em
}

.option-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline
}

.option-con>div:last-of-type {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1
}

.options-con.spl-1>.option-con {
  width: 100%
}

.options-con.spl-2>.option-con {
  width: 50%
}

.options-con.spl-4>.option-con {
  width: 25%
}

.mce-emphatic {
  position: relative;
  display: inline-block;
  text-indent: 0
}

.mce-emphatic:before {
  content: ".";
  position: absolute;
  bottom: -5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  font-family: initial;
  text-indent: 0 !important;
  font-size: 20px
}

.age-num-simple {
  bottom: 450px;
  left: 400px;
  width: 100%;
  height: 30px
}

.page-num-simple {
  font-size: 10.5pt !important;
  font-family: Times New Roman, simsun
}

.dot-con {
  font-family: simsun !important
}

.e-char-con {
  font-family: Times New Roman !important
}

input.blank {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #000;
  text-align: center;
  padding: 0 6px;
  line-height: 0;
  vertical-align: text-bottom !important;
  width: 48px !important;
  -webkit-box-sizing: content-box;
  box-sizing: content-box
}

#svgCon table:not([cellpadding]) td,
#svgCon table:not([cellpadding]) th,
table:not([cellpadding]) td,
table:not([cellpadding]) th {
  padding: 0 6px !important
}

.parent-papernum-of-childitem {
  display: inline-block;
  width: 2em;
  text-indent: 0
}

.parent-papernum-of-childitem>span {
  display: inline-block;
  width: 1em;
  text-indent: 0
}

.papernumofchilditem {
  text-indent: -2em
}

.cn-dot-con {
  font-family: simsun !important
}

.item-con sub,
.item-con sub *,
.item-con sup,
.item-con sup * {
  font-size: smaller !important;
  line-height: 1
}

figure {
  display: table;
  margin: 0 auto !important
}

figure figcaption {
  color: #333;
  display: block;
  margin-top: 0;
  text-align: center
}

.js-positionTexTip-Wrap {
  display: inline-block
}

.nop-page>.nop-page-content table {
  word-break: normal
}

#svgCon foreignObject {
  overflow: visible
}

@media print {
  body svg {
    margin: 0
  }
}
