.item-range-name,
.model-con,
.paper-grade,
.paper-name,
.paper-subject {
  text-align: center
}

.model-con {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(50, 50, 50, .9);
  display: block;
  font-size: 100px;
  line-height: 100vh;
  color: #fff;
  z-index: 10
}

p {
  margin: 0;
  padding: 0
}

* {
  font-family: simsun !important
}

.paper-name {
  font-size: 16pt;
  line-height: 2;
  padding-top: 42px
}

.paper-grade {
  font-size: 22pt;
  line-height: 2;
  font-weight: 600 !important
}

.paper-subject {
  font-size: 14pt;
  line-height: 2
}

.item-range-name {
  font-size: 16pt;
  line-height: 2;
  margin-top: 42px;
  font-weight: 700
}

.paper-tips-con {
  text-align: left;
  font-size: 10.5pt
}

.paper-tips-con p {
  line-height: 1.5;
  text-indent: 28px
}

.paper-tips-con p:first-of-type {
  text-indent: 0
}

.paper-bottom-info {
  position: absolute;
  bottom: 1.5cm;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  font-size: 10.5pt
}

.main-con {
  font-size: 14px;
  padding: 20px 0 16px
}

.main-con table {
  border-collapse: collapse;
  border: none;
  width: 100%;
  border-width: .5
}

td,
th {
  width: 9%;
  padding: 10px 0 !important;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 1px solid #333 !important;
  border-left: 1px solid #333 !important;
  border-right: 1px solid #333 !important;
  text-align: center !important;
  border-width: .5;
  font-size: 10.5pt !important;
  line-height: 1.3 !important
}

.main-con table tr th {
  background-color: #D9D9D9 !important;
  color: #000 !important
}

.main-con table tr:first-of-type th {
  border-top: 1px solid #333 !important
}

.main-con table tr td div {
  width: 100%;
  word-break: break-all
}
