# 使用 npm 镜像源
registry=https://registry.npmmirror.com

# Electron 镜像配置（使用淘宝镜像）
electron_mirror=https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
